{% extends 'core/base.html' %}
{% block content %}
	
<p>Bienvenidos a PP4 - Proyecto Integrador, para la carrera de Técnico Superior en Desarrollo de Software - IFTS 18 GCBA. Usar el Menú superior Ingresar o Registrarse.</p>

<!-- Template Tag para ver si el usuario esta logueado -->
{% if request.user.is_authenticated %}

	<h4>
		{{ user.username | upper }}, Bienvenido!
	</h4>

<!-- UN CARD DEL INICIO -->

<div class="card mx-auto" style="width: 30rem;">
  <img src="..." class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">PP4 - IFTS 18</h5>
    <p class="card-text">Bienvenidosa PP4 - IFTS18 / Proyecto Integrador, para la carrera de Técnico Superior en Desarrollo de Software</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>Profesor:</b> Alberto Campagna</li>
    <li class="list-group-item"><b>Tutora/Ayudante:</b> Virginia Alfonzo Aguirre</li>
    <li class="list-group-item"><b>Tutora/Ayudante:</b> Alejandra Magistrali</li>
    <li class="list-group-item"><b>Tutora/Ayudante:</b> Antonella Lapalma</li>
    <li class="list-group-item"><b>Tutor/Ayudante:</b> Frango Arguello</li>
  </ul>
  <div class="card-body">
    <a href="https://www.ifts18.edu.ar" target="_blank" class="card-link">Web IFTS 18</a>
  </div>
</div>

{% endif %}
{% endblock %}