{% extends 'core/base.html' %}
{% block content %}

	<br><h3><u>WORKSHOPS PP4</u></h3><br>

	<a href="https://drive.google.com/file/d/1dIcEPHOQS1-JhJyNRLcNACv41VEbMDZR/view?usp=sharing" target="_blank">Workshop 1 - HTML/CSS</a><br>
	<a href="https://drive.google.com/file/d/1abv_O0tv5NtWQTMIyNoNdixIMiRus_kp/view?usp=sharing" target="_blank">Workshop 2 - Javascript, PyScript, Frameworks y Alternativas</a><br>
	<a href="https://drive.google.com/drive/u/1/folders/1wJub6OuKEfRB6j3wpW2RnJVo2-0w3Sql" target="_blank">Workshop 3 - Frontend - Navbars y Vue.JS</a><br>
	<a href="https://drive.google.com/drive/u/1/folders/1RT4IBthM-gli0-NfW16piek1zPR4Tio6" target="_blank">Workshop 4 - Intro a UnitTest, Automation, Selenium y Web Scraping (Franco Arguello)</a><br>
	<a href="https://drive.google.com/drive/u/1/folders/1Gz401CHRn6yT4de3AjkrixYwkdYHqzd6" target="_blank">Workshop 5 - APIs</a><br>
	<a href="https://drive.google.com/drive/u/1/folders/1l-YwFx7n-U4Kn9jydtnWxscEeBrZrKC1" target="_blank">Workshop 6 - Login Google con PHP/XAMPP</a><br>
	<a href="https://drive.google.com/file/d/1-ogCq3YtxcXVHQc1DawBLxSKHOGtdb7e/view?usp=sharing" target="_blank">Workshop 7 - Deploy y PaaS</a><br>
	<a href="https://drive.google.com/drive/u/1/folders/1SEPjgzodbAGmm4UZ0zmXOgUQpT9q2SR3" target="_blank">Workshop 8 - Login, Recuperar tu Contraseña, Registrar, etc (Alejandra Magistrali)</a><br>
	<a href="#" target="_blank">Workshop 9 - Próximamente</a><br>

{% endblock %}